@using MyLittleQuiz.ViewModels
@model DetailQuizViewModel

@{
}

<h1>@Model.Quiz.Name</h1>
<div>
    <div>
        <p>@Model.Quiz.Description</p>
        @this.ViewContext.RouteData.Values["Controller"].ToString();
    </div>
    <div>
        <div>
            <ul>
                <li>Creator: @Model.Quiz.Creator.Login</li>
                <li>Created: @Model.Quiz.CreationDate.ToLongDateString()</li>
                <li>Creator: @Model.Quiz.LastModification.ToLongDateString()</li>
            </ul>
            <br />
            <h6>Ediotors:</h6>
            <ul>
                @foreach(var mod in Model.Quiz.Moderators){
                    <li>
                        @mod.Login
                        @if(Model.IsModerator)
                        {
                            <a class="btn-danger" asp-route-id="@mod.UserId" asp-route-quizId="@Model.Quiz.Id" asp-controller="Quiz" asp-action="DeleteMod">Delete</a>
                        }
                        
                    </li>
                }
                
                
            </ul>
        </div>
    </div>

</div>